
/*  https://responsiveviewer.org/ neste site identificamos adquação a dispositivos moveis*/


@media ( max-width:1200px ) {
    body {
        background-color: blueviolet; 
        /* a cor altera quando dimunui a resolução*/
        }

    .fundo-video {
        display: none;
        }
 
    /* Se não tem espaço, joga para baixo*/
    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
        }
    .container .mario {
        max-width: 50%;
        }
    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
        }
    .container .descricao {
        color: #ffffff;
        }
    .container .botao-trailer {
        background-color: #263238;
        }
    }

    /* MENU NA TELA DE CELULAR*/
    @media (max-width: 500px){
        .cabecalho {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;            
        }

        .container .imagem-titulo {
            max-width: 75%;
            
        }
       .modal .fechar-modal {
        width: 30px;
        line-height: 30px;
        }

       .modal #video {
        width: 300px;
        height: 169px;
       }              
       
       /* PARA CELULAR AINDA MENORES*/
       @media (max-width: 366px) {
        .modal #video {
            width: 250px;
            height: 140;
                }
       }
    }


